<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Car Id</th>
        <th scope="col">Car Information</th>
        <th scope="col">Customer Mail</th>
        <th scope="col">Day</th>
        <th scope="col">Price</th>
        <!-- <th scope="col"><a class="btn btn-danger" href="" >Delete All</a></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resevation of reservations">
        <th scope="row">{{resevation.id}}</th>
        <td>{{resevation.car?.id}}</td>
        <td>{{resevation.car?.brand}}, {{resevation.car?.model}}</td>
        <td>{{resevation.account?.email}}</td>
        <td>{{resevation.day | date}}</td>
        <td>{{resevation.car?.priceDay}}</td>
        <td><span class="btn btn-danger ms-1"(click)="deleteReservation(resevation)">Delete</span></td>
      </tr>
    </tbody>
  </table>
</div>

