.mat-calendar-body-cell.selected
{
  background-color:red!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem
}
.e-calendar {
  max-width: none !important;
  min-width: auto;
  max-height: none !important;
}