#sign-up-form form{
    width: 250px;
    height: 300px;
}
#sign-up-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#sign-up-form>p{
    font-size: 40px;
    font-weight: bold;
}