<navbar></navbar>
<div id="sign-up-form">
    <p>SİGN UP</p>
    <form>
        <div class="form-outline mb-4">
          <input type="email" #email id="email" class="form-control" />
          <label class="form-label" for="email">Email</label>
        </div>
      
        <div class="form-outline mb-4">
          <input type="text" #name id="name" class="form-control" />
          <label class="form-label" for="neme">Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" #password id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" #password1 id="password1" class="form-control" />
            <label class="form-label" for="password1">Password</label>
        </div>
       
      
        <!-- 2 column grid layout for inline styling -->
      
        <button type="button" (click)="signUp(email.value,name.value,password.value,password1.value)" class="btn btn-primary btn-block mb-4">Sign in</button>
      
      </form>
</div>
