<navbar></navbar>
<section id="products-page">
    <div class="row">
        <!-- <filter class="col-2"></filter> -->
        <div id="products" class="col-12" >
            <div class="card " *ngFor="let car of cars">
                <div class="product-card">
                    <img src="./assets/img/blue-car-10.png" alt="...">
                    <div class="card-body" >
                        <h5 class="card-title">{{car.brand}}</h5>
                        <div class="card-text">
                            <table>
                                <tr>
                                    <td><b>Day:</b></td>
                                    <td>{{car.priceDay}}$</td>
                                </tr>    
                            </table>
                            
                        </div>
                    </div>  
                </div>
                <a [routerLink]="['/cars',car.id]" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</a>
            </div> 
              
              
                         
        </div>
        
       
        <!-- <map class="col-6"></map> -->
    </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>

