<navbar></navbar>
<div class="alert alert-danger" role="alert" style="padding-top: 60px;">
YAPIM AŞAMASINDADIR!!!</div>
<section id="home" style="padding-top: 54px;">
    <banner-slider></banner-slider>
    <section id="main">
        <div id="intro">
          <h1>How to use?</h1>
          
            <div id="intro-items" class="d-flex align-items-center justify-content-center"  >
              <div class="intro-item">
                <span class="icon-box-odd">
                    <fa-icon [icon]="faLocationDot"></fa-icon> 
                    
                </span>
                <h4>Choose location</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="intro-arrow">
                <fa-icon [icon]="faArrowRightLong"></fa-icon> 
              </div>
              <div class="intro-item">
                <span class="icon-box-even">
                    <fa-icon [icon]="faCalendarCheck"></fa-icon> 

                </span>
                <h4>Choose Time</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="intro-arrow">
                <fa-icon [icon]="faArrowRightLong"></fa-icon> 
            </div>
              
              <div class="intro-item">
                <div class="icon-box-odd">
                    <fa-icon [icon]="faCar"></fa-icon> 
                </div>
                <h4>Choose Car</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>            
          </div>
        </div>
        <div id="galery">
          <div class="galery-section">
            <div class="galery-box">
              <img src="assets/img/11919.jpg" alt="about" >
            </div>
            <div class="galery-box galery-content" data-aos="fade-left" data-aos-duration="1000">
              <h2>Customer Service</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, placeat!</p>
              <button class="btn"><i class="fa-solid fa-chevron-right"></i>Read More</button>
            </div>
            
            
          </div>
          <button routerLink="/cars">Rent Now</button>
          <div class="galery-section flex-md-row-reverse">
            <div class="galery-box">
              <img src="assets/img/11919.jpg" alt="about" >
            </div>
            <div class="galery-box galery-content" data-aos="fade-left" data-aos-duration="1000">
              <h2>Customer Service</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, placeat!</p>
              <button class="btn"><i class="fa-solid fa-chevron-right"></i>Read More</button>
            </div>                        
          </div>
        </div>
        <!-- <div id="trend-cars">
          <h1>Popüler Araçlar</h1>
          <div #swiperRef="" class="swiper manipulation">
            <div class="swiper-wrapper">
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="assets/img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide manipulation-slide">
                <div class="card" style="width: 18rem;">
                  <img src="./img/blue-car-10.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Ford-Fiesta</strong> </h5>
                    <p class="card-text">33₺/Saatlik</p>
                    <a href="#" class="btn btn-primary">Kirala</a>
                  </div>
                </div>
              </div> -->
              <!-- <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div>
              <div class="swiper-slide manipulation-slide"><img src="./img/blue-car-10.png" alt="" srcset=""></div> -->

            
            <!-- </div>
            <div class="swiper-button-next next-card"></div>
            <div class="swiper-button-prev prev-card"></div>
          </div>          
        </div>
        <div class="main-img">
          <img src="assets/img\middle-image-04.png" alt="">
        </div> -->

      </section>
</section>
<app-footer></app-footer>

