<nav class="navbar navbar-expand-lg px-3 navbar-light bg-white border-bottom">
    <div class="container-fluid row-cols-lg-1">
      <a class="navbar-brand col-lg-2 ms-5 text-center" routerLink="/admin">ADMİN</a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse pe-lg-5 d-lg-flex col-lg-10" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex align-items-center me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/reservations">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/cars">Cars</a>
          </li>
        </ul>
        <ul class="navbar-nav text-decoration-none d-flex align-items-center me-lg-5">      
          <li>
            <button (click)="logout()" class="btn btn-dark shadow-none me-lg-2" id="sign-up">Log out</button>
          </li>
        </ul>           
      </div>
     
    </div> 
</nav>
<router-outlet></router-outlet>