<div id="login-form">
    <p>ADMİN</p>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text"#adminName id="adminName" class="form-control" />
          <label class="form-label" for="adminName">Name</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" #adminPassword id="adminPassword" class="form-control" />
          <label class="form-label" for="adminPassword">Password</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
      
        <button type="button" (click)="login(adminName.value,adminPassword.value)" class="btn btn-primary btn-block mb-4">Sign in</button>
      
      </form>
</div>

