
.e-calendar {
  max-width: none !important;
  min-width: auto;
  max-height: none !important;
}

.selected {
  background-color: #0d6efd !important;
  border-radius: 50%;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
  border-color: white;
}

