
  
  <div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" aria-modal="true" role="dialog" style="display:block ;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <img class="col" src="" alt="">
            <div class="col">
              <p><span>brand:</span> {{car?.id}}</p>
              <p><span>model:</span> {{car?.model}}</p>
              <p><span>gear:</span> {{car?.gear}}</p>
              <p><span>fuel:</span> {{car?.fuel}}</p>
              <p><span>price for day:</span> {{car?.priceDay}}</p>
            </div>
          </div>
          <!-- <ejs-calendar [values]='dateValues' [isMultiSelection]='multiSelect'(renderDayCell)='disabledDate($event)' (change)='onChange($event)' format="dd-MMM-yy" style="width: 100% !important;"></ejs-calendar> -->
          
          <div *ngIf="!loading" (click)="$event.stopPropagation()">
            <mat-calendar #calendar 
               (selectedChange)="select($event,calendar)" 
                [dateClass]="isSelected" [minDate]="minDate" [dateFilter]="disabledDateFilter">
            </mat-calendar>
          </div>     
          
          <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" routerLink="/cars" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  type="submit" class="btn btn-primary" (click)="reset()">Clear Days</button>
          <button  type="submit" class="btn btn-primary" (click)="createReservation()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
  