#filter{
    min-height: calc(91vh);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#filter form{
    border: none;
}
.filter-item{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.filter-item input[type=text],select{
    width: 100%;
    padding: 3px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
}
.filter-item input[type=text]:focus,select:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
