nav{
    position: fixed !important;
    z-index: 1001;
    width: 100%;
    
}
.navbar-toggler{
    box-shadow: none !important ;

}
.nav-link{
    color: #2275fe !important;
    font-weight: bold;
    
}
.nav-item{
    margin-right: 5px;
    position: relative;
    font-size: 1.2rem;
}
.nav-item::after{
    content: '';
    height: 5px;
    width: 0%;
    background-color: #2275fe;
    position: absolute;
    bottom: -5px;
    right: 0%;
    transition: .3s;
}
.nav-item:hover::after{
    width:100%;
    left: 0%;
}


#sign-up{
    border: none;
    background-color: #2275fe;
    position: relative;
}

header{
    width: 100%;
    height: 80vh;
    position: relative;
}