<footer>
    <div id="footer-main">
      <div id="footer-social" >
        <h3>SOSYAL MEDYADA <br> BİZİ TAKİP ET</h3>
        <div class="footer-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div >
      <div id="footer-content">
        <ul>
          <li><a href="">SIKÇA SORULAN SORULAR</a></li>
          <li><a href="">HAKKIMIZDA</a></li>
          <li><a href="">İLETİŞİM</a></li>
        </ul>
      </div>
    </div>
    <div id="footer-bottom">
      <p class="copyright">© GOGO 2022</p>
      <ul>
        <li><a href="">Hizmetler</a> </li>
        <li><a href="">Basında</a> </li>
        <li><a href="">Harita</a> </li>
        <li><a href="">Üyelik Sözleşmesi</a> </li>
        <li><a href="">Aydınlatma Metni</a> </li>
        <li><a href="">Çerez Politikası</a> </li>
      </ul>
        
      </div>
  </footer>
