<navbar></navbar>
<section id="contact" class="container-fluid row">
        
    <h1>İletişim Formu</h1>
    <div class="form-area col-md-6 col-xs-12 mb-5">
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">İsminiz</label>
              <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">Konu</label>
                <input type="text" class="form-control" id="subject" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="e-mail" class="form-label">E-mail</label>
              <input type="email" class="form-control" placeholder="" id="e-mail">
            </div>
            <div class="mb-3">
                <label for="massage" class="form-label">Mesajınız</label>
                <textarea class="form-control" placeholder="Mesajınız..." id="massage"></textarea>
              </div>
            
            <button type="submit" class="btn btn-primary">Gönder</button>
          </form>
    </div>
    <div class="address col-md-6 col-12">
        <ul>
            <li>
                <label>E-posta</label>
                <br>
                <a href="">info@artemis.com</a>                
            </li>
            <li>
                <label>Telefon</label>
                <br>
                <p>505 555 55 55</p>
            </li>
            <li>
                <label>Telefon</label>
                <br>
                <p>216 111 11 11</p></li>
            <li>
                <label>Adres</label>
                <br>
                <p>x mah. xxxxx.cad xxxxx.sok xxxapt. Kat.x No:x İzmir</p>
            </li>
        </ul>
    </div>

</section>
<app-footer></app-footer>
